ul{
  width:60%;
  li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }
  .done{
    text-decoration: line-through;
  }
}

